body {
	background-image:url('orangeBackground.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

h2{
	color: red;
}

#items {
	float: left;
	width: 1000px;
}

.item {
	background-position: left top;
	background-repeat: no-repeat;
	border: 1px #EEE;
	border-bottom: 2px #DDD;
	border-right: 2px #DDD;
	cursor: move;
	float: left;
	height: 130px;
	margin: 10px;
	position: relative;
	width: 140px;
	top: 30px;
}
	.item span {
		bottom: 0;
		font-size: 14px;
		font-weight: bold;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		color: green;
	}
	.item style
	{
		
	}
.dataBaseItem {
	background-position: left top;
	background-repeat: no-repeat;
	border: 1px #EEE;
	border-bottom: 2px #DDD;
	border-right: 2px #DDD;
	cursor: normal;
	float: left;
	height: 130px;
	margin: 10px;
	position: relative;
	width: 140px;
	top: 30px;
}
	.dataBaseItem span {
		bottom: 0;
		font-size: 14px;
		font-weight: bold;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		color: green;
	}


#cart #title{
	clear: top;
	top: 10px;
	position: fixed;
	text-align: center;
	color: red;
}

#cart {
	background-color: lightgreen;
	border: 1px solid #F9F9F9;
	float: right;
	padding-bottom: 50px;
	width: 195px;
	max-height: 500px;
	position: fixed;
	top: 30px;
	right: 10px;
	overflow-y: scroll;
}
	#cart .info {
		color: #444;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	#cart .item {
		border-width: 1px;
		cursor: default;
		height: 130px;
		margin: 5px;
		width: 120px;
	}